certifi==2024.8.30
geopandas==1.1.4
meteostat==1.6.8
numpy==2.1.1
packaging==24.1
pandas==2.2.3
pyogrio==0.10.0
pyproj==3.6.1
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2024.2
shapely==2.0.6
six==1.16.0
tzdata==2024.2
